<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StepOneEntities" connectionString="metadata=res://*/StepOne.csdl|res://*/StepOne.ssdl|res://*/StepOne.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=StepDB;persist security info=True;user id=sa;password=sasa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>